:root{
  --background-color-01: #e4e1e162;
  --background-color-02: #ffffff;
  --background-color-03: #bfa4f034;
  --background-color-04: blueviolet;


  --text-color-01: #000000;
  --text-color-02: #FFFFFF;
  --text-color-03: blueviolet;
  --text-color-04: rgb(85, 13, 153);
  --text-color-positive: rgb(15, 117, 15);
  --text-color-negative: rgb(145, 40, 40);
  
}

.hide{
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}