:root{
  --background-color-01: #e4e1e162;
  --background-color-02: #ffffff;
  --background-color-03: #bfa4f034;
  --background-color-04: blueviolet;


  --text-color-01: #000000;
  --text-color-02: #FFFFFF;
  --text-color-03: blueviolet;
  --text-color-04: rgb(85, 13, 153);
  --text-color-positive: rgb(15, 117, 15);
  --text-color-negative: rgb(145, 40, 40);
  
}

.hide{
  display: none;
}