.main{
  max-width: 720px;
  margin: auto;
}

.form{
  border: 2px solid var(--text-color-04);
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.form__main-title{
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color-03);
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

fieldset{
  border: none;
}

.form__incomes-title, .form__last-plr-title{
  text-align: center;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--text-color-04);
  color: var(--text-color-04);
}

.label{
  width: 100%;
  font-size: 1.1rem;
  color: var(--text-color-03);
}

.input{
  width: calc(100% - 25px);
  height: 40px;
  padding: 5px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color-03);  
  margin-bottom: 10px;  
}

.input:focus{
  border-bottom: 1px solid black;
}

.form__calculate-button{
  width: 80%;
  height: 60px;
  margin-left: 10%;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--text-color-04);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
  border: 2px solid var(--text-color-04);
  background-color: var(--background-color-01);
}

.form__calculate-button:active, .form__calculate-button:hover{
  background-color: var(--text-color-04);
  color: var(--background-color-02);
}

@media screen and (min-width: 480px) {
  .main{
    margin: auto;
  }  
}